.carousel-inner img {
	min-width: 100%;
}
.firstblock .textoverlay p {
	font-weight: 100;
	text-transform: uppercase;
	color: #98989A;
	line-height: 1.1em;
}
.firstblock .carousel-caption {
	left:57%;
	top:33%;
	right: 5%;
	position: absolute;
}
.secondblock .carousel-caption {
	left:3.5%;
	top:35%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.secondblock .textoverlay p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#Ilaria {
	left:3.5%;
	top:51%;
	right: 5%;
	position: absolute;
	padding:0px;
}
#Ilaria p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#Ilaria a {
	color: #ffffff;
	line-height: 2.1em;
}
#Aerial {
	left:46.5%;
	top:37%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#Aerial p {
	color: #362c66;
	line-height: 1.1em;
	text-transform: uppercase;
}
#ShopLink {
	left:46.5%;
	top:54%;
	position: absolute;
	padding:0px;
}
#ShopLink p {
	color: #000000;
	line-height: 1.1em;
	text-transform: uppercase;
}
#ShopLink a {
	color: #000000;
	line-height: 1.1em;
}
.secondblock-m .carousel-caption {
	left:4.5%;
	top:36%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.secondblock-m .textoverlay p {
	color: #ffffff;
	line-height: 1.1em;
	text-transform: uppercase;
}


/*
.modern-m .carousel-caption {
	left:4.5%;
	top:36%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.modern-m .textoverlay p {
	color: #ffffff;
	line-height: 1.1em;
}


.Ilaria-m .carousel-caption {
	left:4.5%;
	top:36%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.Ilaria-m .textoverlay p {
	color: #ffffff;
	line-height: 1.1em;
}

*/


#Ilaria-m {
	left:4.5%;
	top:51%;
	right: 5%;
	position: absolute;
	padding:0px;
}
#Ilaria-m p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: left;
}
#Ilaria-m a {
	color: #ffffff;
	line-height: 2.1em;
}
#Aerial-m {
	left:4.5%;
	top:35%;
	right: 5%;
	position: absolute;
	padding:0px;
}
#Aerial-m p {
	color: #362c66;
	line-height: 1.1em;
	text-transform: uppercase;
}
#ShopLink-m {
	left:4.5%;
	top:56%;
	right: 5%;
	position: absolute;
	padding:0px;
}
#ShopLink-m p {
	color: #000000;
	line-height: 1.1em;
	text-align: left;
}
#ShopLink-m a {
	color: #000000;
	line-height: 1.1em;
}








.thirdblock .carousel-caption {
	left:3.5%;
	top:67%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.thirdblock .textoverlay p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#sponsored {
	left:3.5%;
	top:88%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#sponsored p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}


.thirdblock-m .carousel-caption {
	left:4.5%;
	top:64%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.thirdblock-m .textoverlay p {
	color: #373064;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#sponsored-m {
	left:4.5%;
	top:86%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#sponsored-m p {
	color: #000000;
	line-height: 1.1em;
	text-align: left;
}




.fourthblock .carousel-caption {
	left:3.5%;
	top:77%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.fourthblock .textoverlay p {
	color: #373064;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#copleytext {
	left:3.5%;
	top:84%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
	width: 55% !important;
}
#copleytext p {
	color: #000000;
	line-height: 1.1em;
	text-align: left;
}

#plan {
	left:72%;
	top:7%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#plan p {
	color: #373064;
	line-height: 1.1em;
	text-align: center;
	text-transform: uppercase;
}

#trends {
	left:72%;
	top:20%;
	position: absolute;
	padding:0px;
}
#trends p {
	color: #000000;
	line-height: 1.1em;
	text-align: center;
	text-transform: uppercase;
}





.fourthblock-m .carousel-caption {
	left:5.5%;
	top:67%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.fourthblock-m .textoverlay p {
	color: #373064;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#copleytext-m {
	left:5.5%;
	top:79%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#copleytext-m p {
	color: #000000;
	line-height: 1.1em;
	text-align: left;
}





.fifthblock-m .carousel-caption {
	left:5.5%;
	top:67%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.fifthblock-m .textoverlay p {
	color: #373064;
	line-height: 1.1em;
	text-align: center;
	text-transform: uppercase;
}
#plan-m {
	left:30%;
	top:9%;
	position: absolute;
	padding:0px;
}
#plan-m p {
	color: #373064;
	line-height: 1.1em;
	text-align: center;
	text-transform: uppercase;
}

#trends-m {
	left:30%;
	top:22%;
	position: absolute;
	padding:0px;
}
#trends-m p {
	color: #000000;
	line-height: 1.1em;
	text-align: center;
}



.sixthblock .carousel-caption {
	left:3.5%;
	top:77%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.sixthblock .textoverlay p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#morena {
	left:58%;
	top:77%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#morena p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: center;
}

#officialface {
	left:49.5%;
	top:87%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#officialface p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: center;
}





.sixthblock-m .carousel-caption {
	left:3.5%;
	top:77%;
	right: 5%;
	position: absolute;
	padding:0px;
}
.sixthblock-m .textoverlay p {
	color: #ffffff;
	line-height: 1.1em;
	text-align: left;
	text-transform: uppercase;
}
#morena-m {
	left:2%;
	top:67%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#morena-m p {
	color: #373064;
	line-height: 1.1em;
	text-align: center;
}

#officialface-m {
	left:4%;
	top:84%;
/* 	right: 5%; */
	position: absolute;
	padding:0px;
}
#officialface-m p {
	color: #000000;
	line-height: 1.1em;
	text-align: left;
}



.footertag p {
	text-align: center;
	text-transform: uppercase;
}

#headerlogotext p {
	text-align: center;
	text-transform: uppercase;
}

#mobilefootnav {
	text-align: center;
	font-size: 1.5em;
	line-height: 2em;
}

#mobilefootnav li + li::before {
    content: " | ";
}
.list-inline > li {
	padding-left: 0px;
}
ul.social-icons > li > a {
    display: block;
    float: none;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}