.skybar {
    background-image: url("/assets/images/UtilityNavBar_BG.jpg");
    background-repeat: repeat-x;
    display: block;
    height: 30px;
    margin: 0;
    width: 100%;
    color:#ffffff;
    font-size: 1em;
}
.skybar li {
	font-size: 10px;
	margin-top: 5px;
}
.skybar li:hover {
	font-size: 10px;
	margin-top: 5px;
	font-weight: bold;
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.navbar {
	margin-bottom: 0px;
	min-height: 1px;
}
.navbar-form {
	margin: 0px 20px 0px 15px;
    padding: 0px;
}

.navbar-form .form-control {
	height: 20px;
	font-size: 10px;
}

.form-control {
	padding: 0px;
	margin-top: 5px;
}

.yamm {
/* 	margin-top: 30px; */
border: none;
border-bottom: 1px solid #cdcdcd;
}

	@media only screen and (max-width:768px) {
	.yammlogo {
		display: none;
	}
	.skybar {
		display: none;
	}
	.navbar-default {
    background-image: url("/assets/images/UtilityNavBar_BG_mobile.jpg");
    background-repeat: repeat-x;
    }
    .navbar-toggle {
    background-image: url("/assets/images/UtilityNavBar_BG_mobile.jpg");
    }
    .navbar-toggle:hover, .navbar-toggle:active {
    background-image: url("/assets/images/UtilityNavBar_BG_mobile_hover.jpg");
    }
    .nav-justified > li > a {
    text-align: left;
    margin-left:20px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border: none;
	    margin-right:0px;
    }
}

	@media only screen and (min-width:768px) {
	.mobilelogo {
		display: none;
	}
	#mobileclearfix.clearfix {
		display: none;
	}
	.search-container {
		display: none;
	}
}

	@media only screen and (min-width:765px and max-width : 1100px) {
		.navbar-nav > li > a {
			font-size: 10px;
		}
}
	@media only screen and (min-width:768px) {
		.mobilebreak {
		display: none;
		}
		#footermobile {
			display: none;
		}
}
	@media only screen and (max-width:1290px) {
	#collapsingFooter {
		display: none;
	}
}
	@media only screen and (max-width:768px) {
	.desktopfooter {
		display: none;
	}
}
		
	.yammlogo {
    background-image: url("/assets/images/logo.png");
    background-position: center 20px;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    height: 60px;
    margin-top:30px;
}

.navbar-nav > li {
    float: none;
	font-size: 12px;
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-nav {
    float: none;
}

.nav-justified > .dropdown .dropdown-menu {
    left: 5%;
    right: 5%;
    top:inherit;
}
.navbar-nav > li:hover, .navbar-nav > li:active  {
/*
	text-decoration: underline;
	text-decoration-color: #362c66;
	-moz-text-decoration-color: #362c66;
	border-bottom:5px solid #362c66;
*/
}

.nav-justified > .dropdown .dropdown-menu {
    top: 30px;
}

.nav > li > a {
    padding: 10px 0px 0px 0px;
    text-transform: uppercase;
    }
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.search-container {
	background-color: #e4e4e4;
    padding: 10px;
}

.socialicons ul {
	padding-left: 0px;
}

.socialicons ul li {
	display: inline-block;
	margin-bottom: 20px;
}
.footertag img {
	width:100%;
	padding: 20px 5px 20px 5px;
	max-width: 575px;
}

.navbar-nav > li {
    clear: none;
    float: left;
    font-size: 10px;
    list-style: none outside none;
    padding: 0;
    width: auto;
    padding: 0 40px 0 0 !important;
    }
    
    
.nav > li > a {
    cursor: default;
    display: block;
    float: left;
    outline: 0 none navy;
    text-transform: uppercase;
    width: auto;
    }

#themegamenu {
	margin: 0 auto;
	max-width: 985px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: none;
	border: none;
}

.navbar-brand {
    height: auto;
    }
    
    
@media only screen and (min-width:768px) {
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 2px solid #362c66;
    }
    
#themegamenu > .dropdown > .dropdown-menu {
	    background-color: rgba(255,255,255,0.9);
/* 	    position: absolute; */
    }
    
.navbar-default .navbar-nav > li > a {
    border-bottom: 2px solid #f8f8f8;
    }
    
.rmVertical .rmGroup .rmLevel1 {
	padding-left: 0px;
	padding-right: 0px;
}

.rmVertical.rmGroup.rmLevel1 {
	list-style-type: none;
}

.navbar-toggle {
    float: left;
    }
.mobilelogo {
	width: 100%;
}
.mobilelogocenter {
	float: none;
	margin: 0px auto;
	display: block;
}
/*
button.navbar-toggle {
	background-image: url("/assets/images/nav-button-up.png");
    background-size: 100% auto;
    display: block;
}
*/

button.navbar-toggle img {
width: 100%;
}

.navbar-toggle {
    background-image: url("/assets/images/nav-button-up.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 45px;
    margin-left: 15px;
    width: 66px;
    }
    
.navbar-toggle:hover, .navbar-toggle:active {
    background-image: url("/assets/images/nav-button-down.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 45px;
    margin-left: 15px;
    width: 66px;
    background-color: none !important;
    }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: none !important;
}

#mobileclearfix {
	border-bottom: solid 1px #d4d4d4;
}
.mobilelogo {
    min-width: 200px;
    width: 100%;
}
.mobilecarrot {
	float: right;
}

@media only screen and (max-width:768px) {
#mobileclearfix {
	background-image: url('/assets/images/arrow.png');
	background-position: right;
	background-repeat: no-repeat;
	display: block; /* make the link background clickable */
/* 	margin-right: 15px; */
	height: 40px;
	margin-right: 15px;
	background-size:auto 20px;
}
}



/* ============================================FOOTER==================================== */

#defaultFooter {
	display: block;
	width: 100%;
}
.footerlogostyle {
	width: 100%;
	max-width: 576px;
}
.selectpicker {
	width: 100%;
}
.emailSignUpBox {
    color: silver;
    font-size: 11px;
    height: 25px;
    width: 100%;
}
.emailsignup {
	padding-right: 10px;
}
.state-country {
	padding-left: 10px;
}
.desktopfooter {
	padding-top: 20px;
	padding-bottom: 4%;
}